:root{
    --secondary-background:#aaf7f9;
    --radius-sm: 8px;
}


*{
    margin: 0;
    padding: 0;
}
#app{
    width: 100vw;
}
input:focus-visible {
    outline: 0;
}

html,body, #app {
    height: 100%;

}
.vs__selected-options {
    flex-wrap: nowrap !important;
  }

a{
    color: black !important;
    text-decoration: none !important;
}
.button {
    padding: 0.5rem 1rem;
    background-image: linear-gradient(to bottom right, #24fff5, #4141f9d9);
    cursor: pointer;
    max-width: 100%;
    height: fit-content;
    width: fit-content;
    border-radius: 6px;
    color: white;
    font-weight: bold;
    margin: auto;
    transition: 0.4s;
  }
